body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-0.3.5&s=e70e92b88f91e8766a67fd81d719b77a&auto=format&fit=crop&w=1952&q=80');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
